<div class="card mb-4">
  <div class="card-header">
    <h4 class="card-title">{{title}}</h4>
    <small class="text-muted">Posted by {{user.name}} on {{format_date date_created }}</small>
  </div>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
  </div>
  <div class="card-footer">
    <a href="/posts/{{id}}">View Comments ({{comments.length}})</a>
  </div>
  
</div>


